body {
  font-family: Helvetica,sans-serif;
  background-color: #CCCCCC;
  color: #615B59; }

#nav_bar {
  margin: auto;
  width: 500px;
  height: 36px; }
  #nav_bar li {
    display: inline-block;
    width: 150px;
    height: 36px;
    line-height: 36px;
    background-color: #F5F5F5;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #nav_bar a {
    margin-left: 50px;
    color: #615B59;
    text-decoration: none;
    font-weight: bold; }

ul#movie_list {
  list-style: none;
  width: 500px; }
  ul#movie_list li {
    -moz-border-radius: 15px;
    background-color: #F5F5F5;
    margin-bottom: 5px; }
  ul#movie_list li.movie {
    color: #615B59;
    font-size: 18px;
    font-weight: 800; }
  ul#movie_list li.title {
    height: 40px;
    width: 500px;
    font-size: 36px; }
  ul#movie_list li.movie:hover {
    cursor: pointer;
    background-color: #E9E9E9; }

form {
  margin-left: 35px; }

div.title {
  margin-left: 35px;
  margin-top: 5px;
  -moz-border-radius: 15px;
  background-color: #F5F5F5;
  margin-bottom: 5px;
  height: 40px;
  line-height: 40px;
  width: 450px;
  font-size: 18px; }
